[2016-03-25 04:49] Zerogiven opened #1 "A few bash examples where it failed"
Hi,

First, thanks for making this cause for my server stuff i write a lot of bash scripts so it's very useful for me.

But i have some examples for you where it failed :) I'm not very familiar with phyton but, i'm a developer long time, so if i'm finding some time i maybe debug it too, but i think maybe will be much faster than me solving this issues :)

It doesn't fail at any bash script, but 3

[2016-04-15 04:20] bemeurer commented on #1
Hey @Zerogiven, thanks a lot for the bug report, I appreciate it! As it stands I'm cramped with work, and can't really fix this at this time, but I'll see if I can find someone who can (if you know any Python coders who'd be interested to help out it'd be a blessing). Sorry I can't start working on this right away!

[2017-02-12 12:26] monotek opened #2 "elif has wrong indentation"
If you have something like:

[code]

The result is:

[code]

So it seems elif is not handled correctly.

[2017-02-20 10:46] strizhechenko opened #3 "Is there a tab indented support?"
I have a few projects indented by vim. Don't want to create large changes just to get indent-support in atom :)

[2017-02-20 11:10] lienke opened #4 "Variant of case selector does not get indented"
Hi.

Here is a script that uses both variants of the case selector: a single close parenthesis, as well as open AND close parentheses.  The output from the driver script runs the 4 usual shells, bash, dash, ksh, zsh to show that the syntax is acceptable to all.  The final output is the result of beautysh, which does not indent correctly.

[code]

[2017-02-20 11:13] lienke commented on #4
Apologies for the badly formatted paste, I thought it all was in a mono-space font.

[2017-02-20 11:16] lienke commented on #4
( Trying insert code )
 Result of beautysh:
#!/usr/bin/env bash

# @(#) s1       Demonstrate paren-case alternative, dash, bash, ksh.

LC_ALL=C ; LANG=C ; export LC_ALL LANG
pe() { for _i;do printf "%s" "$_i";done; printf "\n"; }
pl() { pe;pe "-----" ;pe "$*"; }
em() { pe "$*" >&2 ; }
db() { ( printf " db, ";for _i;do printf "%s" "$_i";done;printf "\n" ) >&2 ; }
db() { : ; }
# C=$HOME/bin/context

[2017-02-22 02:09] lienke commented on #4
( Trying insert code )
Result of beautysh:
#!/usr/bin/env bash
@(#) s1 Demonstrate paren-case alternative, dash, bash, ksh.

LC_ALL=C ; LANG=C ; export LC_ALL LANG
pe() { for _i;do printf "%s" "$_i";done; printf "\n"; }
pl() { pe;pe "-----" ;pe "$"; }
em() { pe "$" >&2 ; }
db() { ( printf " db, ";for _i;do printf "%s" "$_i";done;printf "\n" ) >&2 ; }
db() { : ; }
C=$HOME/bin/context && [ -f $C ] &

[2017-02-22 11:57] bemeurer commented on #3
I made some changes to the code base, but haven't pushed them to PyPI yet. Test it out and let me know if it works for you.

[2017-04-23 12:42] nesro opened #5 "Example in readme has not a valid syntax"
Just a minor comment regarding your example of bash's ambiguous syntax. It's not a valid code:

[code]

And even other parser, Bashlex, returns "unexpected token 'done'".

I'd love to see some example where is Beautysh failing on a valid code if there is any.

Thanks!

[2017-06-09 00:54] jwhonce opened #6 "Indent on continuation is eaten by formatter"
I would prefer indentation on continued lines

    git fetch --prune upstream \
          && git merge upstream/$branch \
          && git push origin $branch

currently becomes:

    git fetch --prune upstream \
    && git merge upstream/$branch \
    && git push origin $branch

Even a markers for copy block to output would be better.

[2017-06-12 15:28] #2 closed

[2017-06-13 13:18] #3 closed

[2017-06-13 13:34] bemeurer commented on #5
@nesro Ha, nice catch! Indeed the example is not valid. I'm searching online for some horrible bash code to put in it's place. If you find something let me know.

[2017-06-14 16:41] jwhonce opened #9 "Add support for automated testing"
- Testing will use default unittest framework

[2017-07-09 23:19] cheako opened #10 "Beautify Bash by Yauhen Yakimovich"
Compared to https://github.com/ewiger/beautify_bash his project offers?

[2017-07-19 19:12] bemeurer commented on #10
@cheako What exactly are you asking?

[2017-09-09 15:01] kamontat opened #11 "I cannot beautify my code"
It throw this error out, but i'm not sure what it mean??

[code]

[2017-09-14 01:46] Akumetsu-Dev commented on #11
me too, cant beautify
File read_demo.sh: error: indent/outdent mismatch: 1.

[2017-09-14 18:10] bemeurer commented on #11
@kamontat Can you provide me the sample file?

[2017-09-15 09:50] kamontat commented on #11
here [link](https://pastebin.com/raw/6CfbFyH9)

[2017-09-25 23:10] Angristan opened #12 "Failed to install on Arch with pip"
Hi, am I missing something?

[code]

[2017-09-26 00:23] bemeurer commented on #12
Yes, you are missing permissions to write to that directory. I answered a similar question on SO, you may reference it for a solution:
https://stackoverflow.com/questions/35894511/upgrade-pip-error-message/35895124#35895124

[2017-09-26 00:23] #12 closed

[2017-09-26 08:01] Angristan commented on #12
Thanks 👍

[2017-10-17 11:47] jesselang commented on #11
The code is no longer available. @kamontat can you post it here please? Otherwise there's nothing to do here.

[2017-10-17 11:50] kamontat commented on #11
So you mean, you also don't know what this error cause?

[2017-10-17 11:50] kamontat commented on #11
here the example code
[code]

[2017-10-17 11:53] kamontat commented on #11
example error
![screen shot 2560-10-17 at 18 52 43](https://user-images.githubusercontent.com/14089557/31663461-68e52f4c-b36c-11e7-9554-34b2170448a2.png)

[2017-10-17 16:35] #10 closed

[2017-10-17 16:36] bemeurer commented on #11
@kamontat I have merged @jesselang 's PR which should have a fix for this. I already have the new beautysh version on PyPI, so try updating the package and testing it again.

[2017-10-17 16:54] bemeurer commented on #4
#13

[2017-10-17 17:18] kamontat commented on #11
![screen shot 2560-10-18 at 00 17 58](https://user-images.githubusercontent.com/14089557/31678944-d513dbaa-b399-11e7-9a43-235e1cc4f6b8.png)
Oh error still there...

[2017-10-17 18:47] jesselang commented on #11
Appears to be choking here:

[code]

Unclear to me what's causing the error.

[2017-10-17 18:49] kamontat commented on #11
@jesselang oh but all syntax is correct right? 🤔

[2017-10-17 19:01] jesselang commented on #4
Actually, #13 doesn't cover cases that are enclosed by parenthesis. :-(

[2017-10-17 19:17] bemeurer commented on #11
@jesselang Yeah, I've been poking at his code now for a bit and I cannot understand what's causing the error. @kamontat Check your script with [shellcheck](https://github.com/koalaman/shellcheck).

[2017-10-17 20:03] jesselang commented on #4
I'm looking at it. Hopefully have something soon.

[2017-10-17 20:24] bemeurer commented on #4
@jesselang Awesome! Thanks for all the help!

[2017-10-17 20:29] jesselang commented on #4
Looks like we'll need some additional state here to track when we're looking for a new case pattern. There's a lot of valid patterns for case.

We're liable to choke on several of these possibilities with the current handling of the case statement and patterns.

https://stackoverflow.com/questions/4554718/how-to-use-patterns-in-the-case-statement-in-bash-scripting#4555979

[2017-10-17 21:03] bemeurer commented on #4
The current handling is indeed primitive and fails easily. How are you thinking of approaching this?

[2017-10-18 13:24] kamontat commented on #11
First it cause this error to me so I fixes it, but the problem still going on
![screen shot 2560-10-18 at 20 14 48](https://user-images.githubusercontent.com/14089557/31720532-040a980c-b441-11e7-8c37-8209b947009f.png)

new code

[code]

[2017-10-18 14:47] kamontat commented on #11
Here is final code that I fixes all code error warning and suggestion.

[code]

[2017-10-23 16:19] jesselang commented on #4
Not sure yet, and it's not a problem I'm interested in solving currently.

[2017-10-23 18:11] bemeurer commented on #4
I don't blame you, it's a mess. I've been avoiding it for a while now.

[2017-10-23 18:11] #5 closed

[2017-11-01 23:08] jesselang opened #20 "3.7 tag missing"
I see you created a 3.7 release. Could you also tag it since folks using pre-commit would generally be checking out the repo using a tag? Thanks!

[2017-11-01 23:18] jesselang commented on #20
Also, I'll mention that I've added beautysh to pre-commit.com's list of supported hooks: http://pre-commit.com/hooks.html

[2017-11-05 03:25] bemeurer commented on #20
Done, sorry for the delay!

[2017-11-05 03:25] #20 closed

[2017-11-11 10:40] harshit22394 opened #21 "Sublime Text plugin"
Hi @bemeurer Can you create a sublime text plugin for this. It would be really helpful for a lot of sublime text users like me.

[2018-01-10 01:27] gwpantazes opened #22 "Installation via pip fails"
Installing beautysh via pip fails, see failure output below.

[code]

Machine specs:
MacOS Sierra 10.12.6
[code]

[2018-01-10 17:26] jwhonce commented on #22
@gwpantazes I don't have a mac to test against, but my guess as a Linux person is: /Library/Python/2.7/site-packages/beautysh is owned by root not a user.

Does pip install --user work on macos?

[2018-01-10 17:29] jwhonce commented on #21
I don't use Sublime nor speak for @bemeurer but https://github.com/joysboy/SublimeBashTidy may fill your needs.

[2018-01-10 23:41] gwpantazes commented on #22
I've tried again, and I can't reproduce this anymore.

- Tried regular pip install again, and it worked. (installed for both Python2 and Python3)
- Uninstalled both via pip
- Reinstalled successfully as well.

In between these attempts, I think I ran a homebrew update which might have upped some versions here and there, including for Python. I'm not sure though, and I'm not finding an obvious way

[2018-01-11 16:13] jwhonce commented on #22
@gwpantazes Please close the issue.  Feel free to re-open if you find a reproducer.  Thanks.

[2018-01-16 06:42] #22 closed

[2018-01-16 06:43] bemeurer commented on #21
Sorry for the delay, I've been traveling too much. I'd be interested in making a Sublime plugin for beautysh (even though it was created solely because Atom's atom-beautify needed a Bash solution, hehe). I'll look into it.

[2018-01-23 13:54] zone01-org commented on #11
in my code it fails to process lines with `<<<`

[2018-02-19 10:14] streambinder opened #23 "Unable to handle specific while format"
It seems this executable is unable to handle `while` loops formatted as below:
[code]

As soon as I remove those `<<<`, `beautysh` is behaving perfectly, as expected.

[2018-02-20 02:54] bemeurer commented on #23
This is a known issue, with no solution currently.

[2018-02-20 09:16] streambinder commented on #23
Tested patch. Waiting for approval.

[2018-02-20 15:31] #23 closed

[2018-02-20 15:32] bemeurer commented on #23
Merged, thanks for the fix! I'll make a new release later today

[2018-03-30 06:50] bemeurer commented on #11
This should now be fixed. @zone01-org Can you confirm the latest version solves this?

[2018-04-24 19:13] rkennedy commented on #11
The current master branch exhibits the reported behavior on the code submitted by kamontat on October 18. Commit 9e98979087f0923ae222770d80fb25728c6914c2 doesn't fix it. Here's a smaller example that exhibits the same behavior:

[code]

The problem is indeed the `<<<` here-string syntax. Beautysh mostly assumes that any appearance of `<<` indicates a here document, which is false. The above commit

[2018-05-02 18:15] Lin-Buo-Ren commented on #11
I encounter this issue as well, which is also reproduced with bashbeautify, which seems to have similar codebase: https://github.com/bergwerf/bashbeautify/issues/12

[2018-05-07 12:42] Jackymancs4 opened #25 "Error: sre_constants.error: nothing to repeat at position 25"
Hello @bemeurer

I encounter this error

[code]

when trying to beautify this bash script

[code]

To test that the script actually works:
[code]

I'm using beautysh 3.8

[2018-05-24 15:37] ApoXalvation commented on #11
Same here:
`#!/bin/bash
if true; then
  OUTPUT=$OUTPUT"\033[0;33mINTERFACES\033[0m\n"
fi`

[2018-07-11 14:33] thnee opened #27 "Feature: Add check mode"
Would be useful if it could just verify if something would change, without actually changing the files. So that it can be used as part of a test suite.

See the `--check` flag in [black](https://github.com/ambv/black) for comparison.

It could print something like "x number of changes would be made to file zzz", and exit with 0 if there are no changes, and exit with 1 if there are changes.

[2018-11-19 18:34] jschleus opened #29 "Error: indent/outdent mismatch"
First: I'm very happy to find a bash beautifier. But for one of my scripts it fails with
[code]
although I (and also "shellcheck") didn't find an error.

After some trail and error attempts I could reduce the problem to the following command using command substitution
[code]
But for e.g. putting a space before the right parenthesis let beautish work without an error!

[2018-12-28 17:07] f18m commented on #29
I also found this error; in my case I found it's caused by the following snippet:

`
function mytest()
{
    local re='^[\-]?[[0-9]+$'
		echo "hello world"
}
`

[2018-12-28 17:12] f18m commented on #29
Also this kind of code is producing the same indent/outdent mismatch error:

[code]

[2019-01-06 15:46] f18m commented on #27
I'd love to have this feature as well

[2019-01-08 15:09] f18m opened #32 "Different bash function syntaxes are tolerated"
Hi,
I noticed that beautysh is not enforcing any specific style for the function declarations:

A)

[code]

is accepted as well as
B)

[code]

and as well as
C)

[code]

I think beautysh should stick with one and enforce it.
What do you think?

[2019-01-09 17:24] bemeurer commented on #27
@thnee, @f18m Has graciously gone ahead and implemented this, I've been overloaded with work lately. Please test it on the master branch!

[2019-01-09 18:00] bemeurer commented on #32
Hmm, I think this is a little tricky because these are all distinct _syntaxes_, but with the same _style_. I'm not sure whether it is beautysh's place to be picky about syntax (which would make it a very opinionated formatter), rather than just style/form.

Thoghts? :)

[2019-01-09 21:44] f18m commented on #32
Well actually tools like
  https://clang.llvm.org/docs/ClangFormat.html
is quite picky and strict and e.g. does not allow you to mix different function declaration styles in C/C++... I'm using it a lot on C/C++ projects exactly because it enforces all developers working on the same sources to stay coherent to some style guidelines (whatever they are).

In case quoted above I think that honestly it

[2019-01-10 10:09] bemeurer commented on #32
@f18m So wait, are you suggesting:
1. That we enforce consistency (you can use either style A, B, or C but not mix them) [or]
2. That we enforce style (you _should_ use K=[A|B|C] as opposed to [A,B,C]\K
I'm all for 1, but I'm still not sold on 2. Which style do you think we should enforce of the ones you listed?

[2019-01-10 20:34] f18m commented on #32
I actually would be fine with both 1) and 2).
In solution 1) I think that beautysh should however have some logic for autodetecting the currently-in-use style. In solution 2) it's the user that explicitly tells beautysh which style to enforce (so perhaps a bit easier to implement).

Btw IMHO the best style for Bash function is A). It's also the longest to type but once you configure your editor to

[2019-01-11 21:14] f18m commented on #27
Sorry @bemeurer but I think that by mistake commit #258330f has removed the --check option previously checked in. My bad.
Do you want me to resubmit the PR for the --check option?

[2019-01-12 09:39] bemeurer commented on #27
@f18m No worries, please re-submit it :+1:

[2019-01-15 04:09] bemeurer commented on #32
@f18m Writing a [script](https://gist.github.com/bemeurer/e7178e60e504401840a2eba28e99524b) today I actually encountered this issue! (see if you can spot the inconsistency :P )

I am all for 2) with a defaulting behavior to A. 1) can be implemented later based on 2) I believe.

If this is implemented I will happily merge it :)

[2019-01-15 09:00] #9 closed

[2019-01-15 22:19] bemeurer commented on #32
@f18m I just cut a new release (3.12) with all of the changes you've been making. If this eventually gets built I will add it to a 4.0 release :)

[2019-01-16 22:06] f18m commented on #32
@bemeurer  great, I'm looking forward to test version 3.12 in my "production" :)

Btw I just cleaned up a PR for this issue... maybe it can still be improved a little bit, but should be a good start...

[2019-01-17 19:07] #32 closed

[2019-01-19 17:52] #27 closed

[2019-01-22 19:07] f18m opened #42 "Regression in indentation of multiline conditions"
I noticed that with latest master the following code block

[code]

is now indented as:

[code]

3rd line has wrong indentation. I think this is perhaps a regression introduced with one of my latest patches, so I'm opening this to avoid forgetting.

[2019-01-22 21:08] bemeurer commented on #42
I'm currently working on a redesign of the beatifying process, it's taking place in the parser-redesign branch. I'm hoping to use [bashlex](https://github.com/idank/bashlex) to actually process the files, which should make things much simpler and avoid errors like these!

[2019-01-23 13:00] f18m commented on #42
Hi @bemeurer ,
good to know! do you think it makes sense then to work on a fix on the current "indentation engine" or not?
Also are you planning a new release before this bashlex reworking?
It would be very useful for me to have the --force-function-style and --version in a released build, thanks :)

[2019-01-23 17:45] bemeurer commented on #42
I think fixing this version would absolutely be useful @f18m, the rework is mostly experimental, and may or may not work.

Yeah, I indent on releasing 4.0 with those changes as soon as this gets fixed :).

[2019-01-24 00:20] bemeurer commented on #42
So, can you confirm that this was fixed by #43?

[2019-01-24 07:09] f18m commented on #42
Yes I conform it's fixed. Now the block of code where the regression happened Is also in the unit tests :)

[2019-01-24 07:10] #42 closed

[2019-01-25 07:09] perfectcream opened #44 "Error: when install with pip, it shows UnicodeDecodeError: 'cp950' codec can't decode..."
When I update beautysh, I got the following output...

[code]

How to fix it?

In setup.py, please modify it as following...

[code]

[2019-01-25 07:55] bemeurer commented on #44
Fixed in release 4.0

[2019-01-25 07:55] #44 closed

[2019-01-25 11:06] f18m opened #45 "version 4.0 is available only from pip3"
Hi @bemeurer ,
I noticed that I can install the new release (4.0) only by doing:
   pip3 install beautysh
if I do:
   pip install beautysh==4.0
I get:

[code]

I think this is due to the fact that on pypi there is no .tar.gz...

[2019-01-26 01:07] bemeurer commented on #45
Fixed in 4.1, thanks for the report!

[2019-01-26 15:18] f18m commented on #45
verified that it's fixed in 4.1, thanks!!

[2019-01-26 15:18] #45 closed

[2019-01-29 00:08] bemeurer commented on #29
@f18m Can this be closed?

[2019-01-29 00:11] bemeurer commented on #25
Fixed!

[2019-01-29 00:11] #25 closed

[2019-01-29 00:13] bemeurer commented on #29
I just verified that this is fixed!

[2019-01-29 00:13] #29 closed

[2019-01-29 00:14] bemeurer commented on #1
I can confirm this is now fixed.

[2019-01-29 08:43] jschleus commented on #29
I just want to confirm that the bug is fixed.

Sorry, I had have overseen it since I found no response here and after a quick look on the source of version 3.12 I had the wrong impression that the mentioned problem wasn't yet fixed.  But it was, great!

[2019-03-21 21:55] donovan commented on #6
It would be great if there was a flag to toggle this behaviour. I just ran beautysh on a large infrastructure codebase that makes use of shellcheck, 95% of the changes are this. Would prefer not to have to use markers.

[2019-03-21 22:12] donovan opened #46 "Feature request: Convert test ([) to new form ([[)"
It would be nice if beautysh had an option to replace old test format with new eg:

    if [ "$foo" == "$bar" ]; then

becomes

    if [[ "$foo" == "$bar" ]]; then

Personally I would prefer the variables to remain quoted in this case even thought it is optional with the `[[` form.

Examples:

    find . -name '*.sh' -exec grep -H 'if \[ ' {} \;

The reverse would also be good for people who want

[2019-03-22 05:31] bemeurer commented on #6
Reopening so I can track this

[2019-04-27 22:54] alexandrufulop opened #47 "missing dependency: ImportError: No module named 'setuptools'"
The following:
```$python setup.py```

throughs this error:

Traceback (most recent call last):
  File "setup.py", line 2, in <module>
    from setuptools import setup
ImportError: No module named setuptools

Please add to docs the dependency for:

[SOLUTION]

To install setuptools on Debian, Ubuntu or Mint:
$ ```sudo apt-get install python-setuptools```

For Python 3.X applications, install pytho

[2019-04-28 02:42] lovesegfault commented on #47
Hi @alexandrufulop thanks for the report!

Beautysh itself has no dependencies, setuptools is a dependency to _any_ Python setup script, thus the issue you faced. In other words, setuptools is not required to use beautysh, only to deal with the Python installer, which is optional.

[2019-04-28 02:42] #47 closed

[2019-07-28 21:16] bollwyvl opened #51 "CLI --help and --version exit !=0 in 5.0.0"
Over on [conda-forge](https://github.com/conda-forge/beautysh-feedstock/pull/5) we had to temporarily break our "sanity check" testing for 5.0.0, as the behavior of `--help` (and `--version`) has changed:

[code]
[code]

I haven't dug into the source _too_ much, but it seems like this is probably a regression... `nargs="*"`, or special-casing `--help` and `--version` would be great.

[2019-07-28 21:58] lovesegfault commented on #51
D'oh, I goofed when removing the `-f` flag. On it.

[2019-07-28 22:04] #51 closed

[2019-07-28 22:05] lovesegfault commented on #51
@bollwyvl New release enroute

[2019-07-28 22:07] lovesegfault commented on #51
@bollwyvl Released 5.0.1 with the fix!

[2019-07-28 22:35] bollwyvl commented on #51
Huzzah, thanks for the insanely-quick turnaround!

[2019-07-28 23:24] Lin-Buo-Ren opened #52 "Intent to package: Snaps are universal Linux packages"
Dear maintainer(s),

[Snaps are universal Linux packages](https://snapcraft.io) that can be installed and run on many GNU+Linux distributions with ease.  I've been following the [Snapcrafters](https://forum.snapcraft.io/t/join-snapcrafters/1325) instructions and [have built a working snap on the Snap Store](https://snapcraft.io/beautysh), you may try it by running the following commands after [ins

[2019-07-29 03:37] lovesegfault commented on #52
Hi @Lin-Buo-Ren !

I really appreciate you taking the time to package Beautysh for Snap, thank you!

As a Gentoo user, I cannot locally test Snap packages, but nonetheless I'd be happy to maintain the Snap formula and use an Arch container to do the testing. Let me know how to proceed in taking ownership of it.

[2019-07-30 08:18] jschleus opened #53 "Strings defined by multiple successive lines may be erroneously filled with spaces"
Sometimes I define in bash scripts a variable using multiple successive lines to get one or more newlines in the according string. For e.g. the script
[code]
would output
[code]
But after running `beautysh` about that script one get the code
[code]
and the according output is now erroneously
[code]
So such continuation lines should probably not be indented.

[2019-08-10 19:08] lovesegfault commented on #21
Fixed on #54.

[2019-08-10 19:08] #21 closed

[2019-08-10 19:10] lovesegfault opened #56 "Add Beautysh to PackageControl"
Following @ankitshubham97's work on #21 it's be nice to get us added on PackageControl, Sublime's package manager.

[2019-08-22 16:56] mio-bryan opened #57 "Indentation stripped from elif statements"
Hello, I seem to have encountered an issue which seems to be the inverse of #2

With the given block of code (tabs or spaces):
[code]
When run through beautysh ( 4.1 or 5.0.2 ), indentation is stripped at elif:
[code]

[2019-09-05 13:33] AnonymerNiklasistanonym opened #58 "Possible regex parse error 'echo multiline MD link with code in name' [indent/outdent mismatch]"
I had a bash script that generates a markdown file which has the following problem when trying to format it (I simplified the code that failed):

`./test.sh`
[code]
It also fails with:
[code]

Command: `beautysh --check ./test.sh`

Error: `File ./test.sh: error: indent/outdent mismatch: 1.`

`beautysh --version`: 5.0.2

It's not really a problem for me (I just changed the line so that this error i

[2019-09-21 16:31] fleXible opened #59 "Removed -f flag broke atom-beautify integration"
Hello,
your PR #49 unnecessarily broke the integration with [atom-beautify](https://atom.io/packages/atom-beautify) which is rather sad. After reading the comments I am sad about this little respect to other peoples work and time.

In the end, "bumping the major version" as you described, didn't really help me much in getting my scripts nicer!

<img width="463" alt="beautysh error in atom-beautify

[2019-09-21 16:52] lovesegfault commented on #59
Unnecessarily is for me, the person putting in the work to keep this thing running, to judge; not you.

Have respect for _my_ work and time and fix this downstream yourself.

No.

https://github.com/Glavin001/atom-beautify/pull/2385

Next time you want someone to help you, @fleXible, be less edgy and more nice.

[2019-09-21 16:52] #59 closed

[2019-09-21 17:57] lovesegfault commented on #56
@ankitshubham97 Reminding you of this :)

[2019-09-23 23:07] fleXible commented on #59
I helped myself just by installing the older version.

Actually no. Usually it starts with an Issue describing and discussing the necessity of a change before implementing it. So that other people are involved in the decision making process and others later to follow the reasoning.

And yes, I am a bit edgy, because of the above. Sorry for that.

[2019-11-10 02:39] SinglWolf opened #60 "Couldn't format the document:File (stdin): error: indent/outdent mismatch: 1."

[2019-11-10 02:44] #60 closed

[2020-02-12 20:44] mrphax0r opened #61 "Beautified BASH scripts are defunct."
Beautysh is currently not usable for BASH scripts.
List of modifications that change the meaning of statements:
``
- [[ ... ]] statements are changed into [[...]] , which breaks conditionals.
- $() is changed into $ () , which breaks command substitution
- VARIABLE=VALUE statements get changed into VARIABLE = VALUE , which breaks variable assignments.
- Spaces are added to file paths, e.g. /path/f

[2020-02-12 21:52] lovesegfault commented on #61
Can you give me a source sample where these defects happen?

[2020-02-18 21:41] RubenKelevra commented on #46
I doubt that's a good idea. The behavior of single vs double brackets has many edge cases that need to be dealt with, to do 1:1 translations.

See here for some examples:
https://stackoverflow.com/a/47576482

[2020-02-18 22:06] lovesegfault commented on #61
Closing due to lack of data

[2020-02-18 22:06] #61 closed

[2020-02-18 22:07] lovesegfault commented on #46
I'll second @RubenKelevra; I find this to be more of an anti-feature since it replaces things which are not semantically equivalent.

[2020-03-10 07:41] karstenrenhak opened #62 "beautysh change line endings character during formatting"
Hi,

I'd like to run beautysh in a Windows 10 (Python 3.8) environment to format a bunch of shell scripts.
These scripts all have a new line character `\n` but after the beautysh run the new line character was changed to `\r\n`.

Now the scripts couldn't execute on a Linux or Unix system and they are useless.

Is there a way to preserve the original line separator character?
By the the way, using

[2020-03-10 08:39] lovesegfault commented on #62
@karstenrenhak thanks for the bug report!

Could you test the latest master to see whether 70ebbf5 fixed it? I don't have a Windows machine to test on.

[2020-03-10 08:40] lovesegfault commented on #56
Closing as abandoned

[2020-03-10 08:40] #56 closed

[2020-03-10 08:41] #52 closed

[2020-03-10 08:45] lovesegfault commented on #57
[code]
Can't reproduce

[2020-03-10 09:42] karstenrenhak commented on #62
Hi @lovesegfault, thanks for the prompt response.
Your fix solved this problem.
Thanks a lot.

[2020-03-10 09:43] #62 closed

[2020-03-10 16:53] mio-bryan commented on #57
Able to replicate this with docker and ubuntu eoan, python3 and beautysh 6.0.1
[code]
[code]
[code]
[code]

[2020-07-09 17:33] thpryrchn commented on #29
I am still getting this error!! Would be nice if the error show where it happens, like how python does when it hits an error...
Here is my code that is tripping it up!
[code]
beautysh==6.0.1

[2020-07-23 08:10] Treverr opened #63 "Unable to use in Atom: unrecognized arguments: -f"
[code]

[2020-07-23 16:02] lovesegfault commented on #63
This is a bug in `atom-beautify` and not in beautysh. They need to update the way they call `beautysh` since we got rid of the `-f` flag a long time ago.

[2020-07-23 16:02] #63 closed

[2020-08-19 02:32] diachedelic opened #64 "mangles indentation after "do case""
Looks like having the `do` and `case` statements adjacent on the same line confounds beautysh.

# Fails
[code]

# Succeeds
[code]

[2020-08-19 02:51] diachedelic opened #65 "mangles indentation after multiline strings with trailing whitespace"
So strange! Works if I remove the space at the end of the string.

[code]

[2020-08-19 02:55] diachedelic commented on #65
Also occurs with variables ending with a newline.

[code]

[2020-08-19 03:02] diachedelic opened #66 "wrongly indents contents of multiline strings"
This changes the value of the string. Perhaps multiline strings should be treated like herefiles?

[code]

[2020-09-24 13:17] dependabot-preview[bot] opened #67 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/lovesegfault) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/lovesegfault/update-logs/48609444).

[2020-09-24 19:43] #67 closed

[2020-11-09 09:44] mondeja opened #70 "Check outputting why files are wrong"
I don't know if this is inside the scope of the project, but it would be awesome if the `--check` option could output, maybe combining with another option, why a file is not beautified.

The use case is that I want to use beautysh for parse a lot of files, but I can risk beautysh making a mistake and  the effort of checking file by file seems excessive to me.

Anyway, thanks for this tool, is very

[2020-11-13 14:26] Abasz commented on #11
Hi, I still have some problems with here string formatting in beautybash:

[code]

this would give an error: Couldn't format the document:File (stdin): error: indent/outdent mismatch: 1.

if I change the lines with the here string to be in double quotes `"jq -r '.[\"certificate.crt\"]' <<< $CERTIFICATES)"` formatting works fine.

[2020-11-17 12:48] TheRussianHetzer opened #71 "Instalation error via git"
I'm trying to install beautysh via git. I used those commands:
[code]
I get this error code:
[code]

[2020-11-17 17:05] lovesegfault commented on #71
You must install setuptools for your system.

[2020-11-17 17:05] #71 closed

[2020-11-17 17:39] TheRussianHetzer commented on #71
Could it be added that this package should be installed in the README file?
```sudo apt-get install -y python-setuptools``` for Debian distributions and ```sudo pacman -Sy python-setuptools``` for Arch distributions.

[2020-11-17 17:50] lovesegfault commented on #71
I think that's out of scope for our docs, since _any_ python package will require `setuptools`.

The next user who hits this will, hopefully, find this issue and the solution :)

[2021-03-07 19:28] TheRussianHetzer commented on #63
Let post the [unofficial solution ](https://github.com/Glavin001/atom-beautify/issues/2510#issuecomment-677825594)they give us here, easily access.

[2021-04-11 19:14] abrahammurciano commented on #11
I am still getting this error. Here is my code, which runs fine.

[code]

[2021-04-11 19:24] abrahammurciano opened #73 "Feature request: Support indentation with tabs"
It would be great if i had an option to use tabs instead of spaces, or if the formatter would respect the setting that my file is set to rather than replace all my tabs with spaces every time I format it.

[2021-04-11 20:47] lovesegfault commented on #73
You can use `--tab` to enforce indenting with tabs instead of spaces.

[2021-04-11 20:47] #73 closed

[2021-04-11 20:49] abrahammurciano commented on #73
And where, pray tell, would I put said `--tabs`?

[2021-04-12 04:46] lovesegfault commented on #73
I'm not sure, you want to bring that up to whoever maintains the VSCode extension (it's not me).

[2021-04-19 19:40] trystero11 commented on #57
Replicated with beautysh 6.0.1.

[2021-05-03 02:02] trystero11 commented on #57
It seems to matter whether exactly where the `elif` statement is located. Here's my test Bash script (adapted from #2 and the test that @mio-bryan posted above), with `if` in a function declaration, inside a `for` loop, at the top level with `then` on the same line as `if`, and at the top level with `then` on its own line:
[code]

Run on this script, beautysh 6.0.1 incorrectly outdents the `elif`

[2021-05-03 02:06] lovesegfault commented on #57
I wonder if we just want to enforce the linebreak between `if`/`elif` and `then`. Could be a fine way to solve this IMO.

Fundamentally, the regex-based approach beautysh takes is insufficient to correctly handle all of bash. If I were to rewrite it today I would parse the bash script with `bashlex` and then applied formatting rules to that.

[2021-05-03 02:39] trystero11 commented on #57
I think we can fix this by making the ad-hoc outdent only apply to `elif` when it's followed by `then` on the same line. Testing with that change indents all four `elif` statements in my test script correctly. I'll submit a PR for review.

[2021-05-03 02:59] trystero11 commented on #57
Looks as though the actual issue is that lines containing `then` get indented once (line 203), while lines containing `elif` get outdented twice (lines 206 and 236/243).

So if you have `elif` and `then` on the same line, as in the test case for #2, you end up with a net one-step outdent, which is correct. But if you have `elif` on a line without `then`, as in the test case for this issue, you get

[2021-05-03 21:48] lovesegfault commented on #57
Fixed in #75 thanks to @trystero11!

[2021-05-03 21:48] #57 closed

[2021-05-04 09:13] uusijani opened #78 "indent/outdent mismatch when using multi-line array assignment inside case...esac"
My go-to way of quickly parsing arguments is as follows:

    #!/bin/bash

    quiet="true"
    files=()

    for arg in "${@}"; do
        case "${arg}" in
            "-v" | "--verbose")
                quiet="false"
                ;;
            *)
                files+=(
                    "${arg}"
                )
                ;;
        esac
    done

Beautysh (v6.1.0) incorrectly rep

[2021-05-04 16:19] lovesegfault commented on #78
Ah, it wouldn't surprise me if it were attempting to format that last `)` as another variant in the case statement, or something similar. Nice find :)

[2021-05-04 17:10] #70 closed

[2021-05-04 17:10] #46 closed

[2021-05-04 20:58] mondeja commented on #70
Thank you! :tada:

[2021-05-17 11:10] f18m opened #81 "indent/outdent mismatch: 2 when Bash script contains the SHIFT operator"
I discovered that, at least using beautysh 4.1, the following snipped of code will not be parsed corretly:

`
function set_affinity()
{
        MASK_TMP=$((1<<2))
}
`

the problem looks like the presence of the "<<" operator...
beautysh will fail with "indent/outdent mismatch: 2 "

[2021-05-20 15:48] jsf9k opened #82 "Error indent/outdent mismatch: 2 with multi-line"
First of all, thanks for providing such a great tool that manages to parse shell syntax correctly 99% of the time.  That's no small feat!

I have a case where beautysh appears to do the wrong thing, so I wanted to document it here in case it helps improve the project.

I have a script [here](https://github.com/cisagov/gatherer/blob/5626394c841158383131e1426d4bc2053d16278f/src/gather-domains.sh) th

[2021-06-09 22:45] dav3r opened #86 "Error - indent/outdent mismatch: 1 in grep command"
I recently had to disable formatting around a particular line because `beautysh` was over-indenting the lines following this one:

[code]

The full script can be found in https://github.com/cisagov/cool-assessment-terraform/pull/125/commits/451c74cff7e19bf06b401a335d019ae4f89a6e70.

PS: Thank you for developing this excellent tool - I am a fan! 👍

[2021-07-01 20:23] kasium opened #94 "Configuration by file"
Hello,

I would like to ask if it would be possible to provide the configuration with a file rather than cli flags. Potential fiels could be setup.cfg, an own file or the pyproject.toml.
If you see an option to add this, I'm happy to open a PR (if I manage it :-) )

Thanks,
Kai

[2021-08-06 08:42] starty-arty opened #98 "Beautysh does nothing"
I installed beautysh as `pip install beautysh`, and then tried to run it but it did nothing.

[code]

[2021-08-23 07:49] MaxWinterstein opened #101 "Bad indent of multi-line subcommand"
before:

[code]

after

[code]

I am pretty sure there are multiple ways to format this 'beauty', but imho the provided one is the least correct 😉

[2021-09-16 07:53] djeada opened #107 "Error message for correct code"
I got the following error message 'indent/outdent mismatch: 1', when adding this line of code to my script:
[code]

[2021-11-08 13:04] atsonkov commented on #4
I think it still works not as expected in some cases:
[code]

In the second case I would also expect indentation of 2 spaces (instead of the 4 that I get).

[2021-11-28 22:18] YoSiJo opened #119 "Add config file support"
Please add support for a `.beautysh` configuration file, e.g. like yamllint.

[2022-01-05 11:04] KaffeMyers opened #126 "Feature request: add option to force $VAR to ${VAR}"
It would be nice if the formatter could force the variables to use the curly bracket style for variables to ensure consistency throughout a script.

[code]

[2022-02-14 14:55] sweenu opened #148 "Issue with flake.nix not finding input for 'beautysh/flak-utils'"
I have the following error when doing `nix flake update`:
[code]

I'm guessing this is related to the 10-day-old commits refactoring the flake.nix.

[2022-02-18 20:18] lovesegfault commented on #148
The input is called `utils` now, so you need to do `beautysh.inputs.utils.follows = "flake-utils"`. Sorry for the churn!

[2022-02-18 20:18] #148 closed

[2022-02-21 20:21] KindDragon commented on #82
Same for me:
[code]
error: indent/outdent mismatch: 1.

[2022-03-31 23:51] diachedelic commented on #82
Here is my minimal reproduction of what I think is the same bug:
[code]

[2022-04-01 01:40] diachedelic opened #161 "Remove dependency"
Hello, and thanks for the great script. I wanted to include it in my project, but noticed that a dependency on a third party package (colorama) had crept in there, which I fear will complicate installation. Considering beautysh is only 400 lines, it seems a shame to introduce a dependency unnecessarily.

Upon investigation, I discovered that this dependency becomes completely unnecessary if the `c

[2022-08-29 15:20] mdeweerd opened #206 "error: indent/outdent mismatch: -4 on complex one-liner"
beautysh 6.2.1 raises "error: indent/outdent mismatch: -4." with the following valid line.

[code]

Just moving the 'tr' part to another line avoids the error:
[code]

The entire expression is valid and `tr "'" " "` certainly is in itself.

[2022-08-30 11:39] mdeweerd opened #207 "Unexpected indent after empty line"
`beautysh` 6.2.1 formats the following script

[code]

like this:

[code]

I do not expect "pandoc \" to be indented with regards to the comments preceding it.

I would also argue that comments at the start of a line (or preceded with spaces) ending in a line continuation should not be indented.

[2022-09-06 21:43] mdeweerd opened #211 "error: indent/outdent mismatch: 1"
The assignment to "LOGS" results in  `error: indent/outdent mismatch: 1`.

In the script this is just a method to make it easier to add/remove files from the list (that is used in `for log in $LOGS` in the actual script).

[code]

I feel that beautysh should either not complain about it or provide a means to work around it or suggest how to format it and report the line for which it occurs;

[2022-10-10 22:57] AmyMoriyama commented on #98
I tried this on some of my somewhat messy scripts and it did nothing apparently. I used the -b argument and it didn't even backup anything so I presume the program itself is broken somehow. Not well versed in python so I can't check it out.

[2022-11-09 10:05] devenes commented on #98
Hi @starty-arty,

Actually there is nothing to beautify in your example. There is no best practice for using pipes and semicolons. So, `beautysh` does nothing.
But we agree that `if` statements should be formatted in a special way with indentation.
I recommend using `beautysh` on files containing lots of loops, `if` statements, etc.

If you try this example;
[code]
will be changed to:
[code]

[2022-11-09 13:44] devenes commented on #207
Hi @mdeweerd,

You can follow this pattern:

[code]

If you want to use a new block of code you can remove the `\` at the end of the line, `-V lang=fr`.

[2022-11-09 14:02] mdeweerd commented on #207
Well, the idea is to be able to cut/paste the line as an option again and just remove the "#".

I take it that we have different views on how this should work.

[2022-11-09 14:04] mdeweerd commented on #211
I suppose that an array is a workaround to no longer have the warning.
I'll do that in this case.